.lista-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lista-item {
  background: #ffe6f2;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-info p {
  margin: 3px 0;
}

.lista-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-editar,
.btn-excluir {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.btn-editar {
  background: #9b59b6;
  color: white;
}

.btn-excluir {
  background: #e74c3c;
  color: white;
}