body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-dark: #000;
  --bg-soft: #121212;
  --text-light: #ffffff;
  --text-dark: #1a1a1a;
  --accent: #ff4d4d;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--text-light);

  background-image: url(/src/assets/background-movie.png);
  background-size: cover;
  background-position: center;
}

main {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  box-sizing: border-box;
  overflow-x: hidden;
}

.page-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  background: rgba(0, 0, 0, 0.65);
  padding: 25px;
  border-radius: 12px;
  color: white;
  backdrop-filter: blur(6px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

.MuiTextField-root label {
  color: #ccc !important;
}

.MuiInputBase-root {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  color: white !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #888 !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--accent) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--accent) !important;
}

/* Scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 4px;
}